@import url(http://fonts.googleapis.com/css2?family=Inconsolata);
@import url(http://fonts.googleapis.com/css2?family=Josefin+Sans);

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans',serif;
}

a {
    color: #000080;
}
b {
    font-weight: 600;
}
body
{
    font-family: "Times New Roman", "Times", serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-smooth: always;
    font-variant: historical-ligatures;

    font-feature-settings: "hlig" 1, "dlig" 1, "onum" 1, "zero" 1, "swsh" 1, "kern" 1, "medi" 1;


    font-size: 18pt;
    clear: center;
    max-width: 30em;
    line-height: 1.25;
    text-align: justify;
    padding: 50px;
    margin: 0 auto;
    hyphens: auto;
}

a:visited{
    color: #68228b;
}

u {
    text-decoration:none;
}

table,
td,
td,
th,
tbody
{
    border-style: hidden;
}

th,
tbody{
    border-collapse: collapse;
    text-align: left;
}

pre,code,example,tt,verbatim,samp,kbd {
  font-family: 'Inconsolata','Consolas','Courier New', sans-serif;
}
